<div class="jumbotron">
<h1><i class="fa fa-circle-o-notch"></i>Trellello</h1>
	<p>This is my smart To Do app, made with Ruby on Rails</p>
	<%= link_to 'Sign up', new_user_registration_path, class: ' btn btn-primary btn-lg' %> 
</div>